@use "../colors";

#traffic-light-container {
    margin: auto;
    display: flex;
    background-color: colors.$traffic-bg;
    border-radius: 1rem;
    padding: 1.6rem;

    .traffic-light-column {
        display: flex;
        flex-direction: column;
    }


    .circle-light {
        margin: 0.1em 0.2em;
        font-size: 3.2rem;
    }

    .red-light {color: colors.$light-red}
    .red-light-off {color: colors.$light-red-off}
    .yellow-light-off {color: colors.$light-yellow-off}
    .green-light-off {color: colors.$light-green-off}
}